{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        <div class="text-left">
            <img src="{{ app.request.getBasePath()~'/banniere.jpg' }}" >
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('formations') }}">Formations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('playlists') }}">Playlists</a>
                    </li>                     
                </ul>
                
                <ul class="navbar-nav ml-auto">
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link text-info" href="{{ path('admin_formations') }}">Gestion Formations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="{{ path('admin_playlists') }}">Gestion Playlists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="{{ path('admin_categories') }}">Gestion Catégories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-success" href="{{ path('app_login') }}">Connexion Admin</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>        
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <div class="container text-center">
        <footer>
            <hr>
            <p><small><i>
                Consultez nos <a class="link-secondary" href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a>
            </i></small></p>
            
        </footer>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}